@* practiceMenus Template File *@
@(practicePages:Seq[Tables.PracticepageRow])

<table id = 'practicePageTable' align='center'>
    <thead>
        <tr>
          <td>Page Number</td>
          <td>Practice Page Name</td>
          <td></td>
        </tr>
    </thead>
<tbody>
@for(i <- 0 until practicePages.length) {
	<tr>
        <td >
          @i
        </td>
        <td>
          @practicePages(i).pagename
        </td>
        <td >
           <input type="submit" onclick="loadPractice('@practicePages(i).structureinfo.get')" value='Go!'>
        </td>
      </tr>
}
</table>
