@(uname:String)

@main("Test Your Understanding") {
<div class="settingoptions">
<input type='submit' id="logout" value='Logout' onclick="logout()">
<button id="mainmenu" onclick="menu()">Menu</button>
</div>

<div id="settings">
    Welcome, @uname
</div>
<h1 style="text-align: left; margin-left: 38%;">Test Comprehension</h1>

<p class="indent"></p>

<div class = "control-panel">
<div class="control-area">
<label id="select-struct">New Structure</label>
<div class="dropdown">
  <button class="dropbtn" id="structurebutton">Structure</button>
  <div class="dropdown-content">
    <a id="stack" >Stack</a>
    <a id="queue" >Queue</a>
    <a id="bst" >BST</a>
    <a id="pq" >PQ</a>
  </div>
</div>
<div class="dropdown">
  <button class="dropbtn" id="listbutton">List</button>
  <div class="dropdown-content">
    <a id="slinked" >Singly Linked</a>
    <a id="dlinked" >Doubly Linked</a>
  </div>
</div>
<div class="dropdown">
  <button class="dropbtn" id="createbutton">Create</button>
</div>
</div>

<div class="save-area">
  <div class="dropdown">
  <button class="dropbtn" id="submitButton">Submit</button>
  </div>
  <div display="none" id="popup" hidden>
    <div class="dropdown">
      <button class="dropbtn" id="retryBtn">Retry</button>
    </div>
    <div class="dropdown">
      <button class="dropbtn" id="solnBtn">See Solution</button>
    </div>
    <div class="dropdown">
      <button class="dropbtn" id="saveBtn">Save</button>
    </div>
  </div>
</div>
</div>

<div class="settings">
  <div id="settings">
  <div class="settings" id="msgP"> Insert the nodes below, as they appear. Press submit when finished to grade your response.</div> </div>

</div>





<canvas id="canv" width="900" height="800" style="border:1px solid white;
background-color: white"></canvas>



}