@import play.api.Play.current
@import play.api.i18n.Messages.Implicits._
@import play.api.mvc.Session
@import play.api.mvc.Request

@(uname:String)

@main("User Menu") {
<div id="body">
<div class="settingoptions">
<button id="logout" onclick="logout()">Logout</button>
<button id="mainmenu" onclick="menu()">Menu</button>
</div>

<div id="menuoptions">
<h3>
    Welcome, @uname
</h3>
<button id="testbutton" onclick="test()">
Test 
</button>

<button id="mypracticebutton" onclick="practice()">
Practice 
</buton>
</div>

<div id="practiceoptions" style="display:none; color:white">
<div style='text-align:left'><button id='newpractice' onclick="newPractice()">New Practice</button></div>
<h2 style='text-align:center'>My Practice Structures<br></br> </h2>
<div id="practicetable"></div>
</div>

<div id="testoptions" style="display:none">
<div style='text-align:center'><button id='newpractice' onclick="newTest()">New Test</button></div>
<h2 style='text-align:center' font-size:60px>My Tests <br></br></h2>
<div id="testtable"></div>

</div>
}
