body {
	background-image: url("../images/low_contrast_linen_@2X.png");
	font-family: "Futura";
}
h1 {
	text-align: center;
	margin: auto;
	font-size: 50px;
	color: white;
}
h2 {
	text-align: center;
	margin-left: 10px;
	color: white;
}
table {
	text-align: center;
	color: white;
	font-size: 20px;
	border: block

}
table td{
    padding: 6px;
    font-size: 25px;
    border: none;
    cursor: pointer;
    border: block; 
//    height:50px;
//    width: 100px;
}
table input {
    padding: 12px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    border: block; 
//    height:50px;
//    width: 100px;
}
thead td {
	font-size: 25px;
	width: 200px;
	height: 50px;
	border-bottom: solid;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
#mainmenu, #logout {
	float: right;
	margin-right: 5px;
	text-align: center;
	width: 50px;
	height: 30px;
	color: black;
    box-sizing: border-box;
    border: none;
    border-radius: 2px;
}
#mainmenu:hover, #logout:hover {
	background-color: steelblue;
	color: 	white;
}
#login {
	text-align: center;
	margin: auto;
	width: 250;
    box-sizing: border-box;
    border: none;
    background-color: steelblue;
    border-radius: 5px;
    color: white;
    padding: 8px;
}
#username, #password {
	border-radius: 4px;
	padding: 6px 10px;
	font-size: 15px;
}
#submit {
	width: 100px;
	height: 30px;
	border-radius: 4px;
	margin: 5px;
	padding: 12px, 10px;
	background-color: white;
	color: black;
	transition-duration: .3s;
	cursor: pointer;
	border: none;
}
#submit:hover {
	background-color: gray;
	color: white;
}
h3 {
	text-align: center;
	padding: 100px 0px;
	color: white;
}
#menuoptions {
	text-align: center;
	margin: auto;
}
#testbutton, #mypracticebutton, #newpractice {
	margin-right: 20px;
	margin-left: 20px;
	height: 150px;
	width: 200px;
	border: 2px solid black;
	background-color: gray;
	font-size: 30px;
	font-family: "Futura";
	transition-duration: .3s;
}
#testbutton:hover, #mypracticebutton:hover, #newpractice:hover {
	background-color: midnightblue;
	color: white;
	cursor: pointer;
}
#settings {
	float: left;
	display: block;
	width: 200px;
	height: 75px;
	border: none;
	color: white;
	font-size: 20px;
	text-align: center;
}
.control-area {
	/*float: right;*/
	margin-right: .5%;
	margin-top: 3.25%;
	padding-bottom: 1%;
	display: block;
	width: 100%;
	border: solid white 2px;
}
#select-struct {
	margin-left: 32%;
	font-size: 20px;
	color: white;
}
#structurebutton, #listbutton, #createbutton {
	margin-left: 5%;
	padding: 16px;
	min-width: 165px;
	border: 2px solid black;
	color: black;
	font-size: 20px;
	font-family: "Futura";
	transition-duration: .3s;
	cursor: pointer;
}
.method {
	margin: auto;
	float: left;
	margin-left: 5px;
	min-width: 40px;
	min-height: 26px;
	border: 2px solid black;
	color: black;
	font-size: 20px;
	width: 100px;
}
.center {
	margin-left: 29%;
}
.dropbtn {
    padding: 12px;
    font-size: 20px;
    border: none;
    cursor: pointer;
}
.dropdown {
    position: relative;
}
.dropdown-content {
	margin-left: 69%;
	margin-top: -64px;
    display: none;
    position: absolute;
    background-color: gray;
    opacity: .5; 
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 10px 10px;
    text-decoration: none;
    border: 1px solid black;
    display: block;
}
.dropdown-content a:hover {
	color: white;
}
.dropdown:hover .dropdown-content {
    display: block;
    cursor: pointer;
}
.dropdown:hover .dropbtn {
    opacity: .5;
}
#datafield {
	float: left;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
	display: block;
	width: 70%;
	height: 500px;
	border: solid white 2px;
}
#push:hover, #pop:hover, #clear:hover {
    opacity: .5;
}
canvas {
	margin-top: 1%;
	margin-left: 1%;
	background-color: white;
}
.save-area {
	margin-top: 3%;
	border: solid white 2px;
	width: 100%;
}
.control-panel {
	margin-top: 3%;
	float: right;
}
#save {
	color: white;
}
#register {
	display: block;
	color: white;
	text-align: center;
	margin-top: 70px;
	font-size: 20px;
}
